
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

.container {
    max-width: 960px;
    margin: auto;
}

.primary-text {
    color: #f7c08a;
}

.primary-bg {
    background-color: #f7c08a !important;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px;
    border-radius: 5px;    
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clear {
    clear: both;
}


/* NAVBAR */
#navbar {
    background-color: #333;
    height: 60px;
}


#navbar h1 {    
    float: left;  
    padding: 10px; 
    color: #fff;  
}

#navbar ul {
    list-style: none;    
    float: right;
}



#navbar li {      
    padding: 20px;    
    float: left;
}



/* Showcase */
    #showcase {
        background: url(./../img/showcase.jpg) no-repeat center center/cover;
        height: 400px;
    }

    #showcase p {
        margin-bottom: 10px;
    }

    .showcase-content {
        text-align: center;
        color: #fff;
        padding-top: 120px;
        line-height: 2.2em;
    }

    .showcase-content a:hover {
        text-decoration: underline;
        color: #f7c08a;
    }

/* home-info */
#home-info {
    height: 300px;
}

#home-info .info-img {   
    background: url(./../img/photo-1.jpg) no-repeat center center/cover; 
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {    
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 40px;

    background: #333;
    color: white;
    text-align: center;
}

#home-info h2 {
    padding: 10px;
}

#home-info p {
    margin-bottom: 50px;
}

/* FEatures */
#features {
    text-align: center;
}

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    background: #ece9e9;
    color: #333;
}

.box i {
    font-size: 50px;
}

/* FOOTER */
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;

    padding: 20px;
}


/* INFO-LEFT */
#about-info {
    padding: 20px;
    text-align: justify;
    background: #ece9e9;
}

#about-info .info-left {
    width: 50%;
    float: left;
}

#about-info .info-right {
    width: 50%;
    float: left;
}

#about-info .info-right img {
    width: 60%;    
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* TESTIMONIALS */
#testimonials {
    height: 500px;
    background: url(./../img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    height: 150px;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    float: left;
    width: 100px;
    border-radius: 50%;
}


/* CONTACT FORM*/
#form-wrap{
    padding-top: 20px;
    Margin: auto;
    padding-left: 20px;
    inline-size: 100%;

    max-width: 1000px;
}

#form-wrap h1{
    margin-bottom: 20px;
}

#form-wrap p{
    margin-bottom: 20px;
}

 .form-group label {
        display: inline;
    }

.form-group textarea {
        margin-top: 7px;
        margin-bottom: 20px;
        resize: none;
        width: 100%;
        height: 30px;
        padding: 7px;
    }

.form-group:focus .form-msg:focus{
        border: 2px solid #555;
}

.title{
    color: #f7c08a;
}

.form-msg textarea{
    margin-top: 7px;
    margin-bottom: 10px;
    resize: none;
    width: 100%;
    height: 300px;
    padding: 7px;

}

.button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px;
    width: 75px;
    height: 35px;

    border: #333;
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.button:hover{
    background-color: #888;
}


/* contactUs footer */

#contacts{
    text-align: center;
    background-color: #333;
}

.boxc {
    width: 33.3%;
    float: left;
    padding: 40px;
    background: #333;
    color: white;
    font-size: smaller;
}

.boxc p{
    margin-top: 20px;
}

.boxc h3{
    margin-top: 10px;
}

.boxc i{
    font-size: 40px;
}

